<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>
      <!-- font-family:设置字体体系
      font-size:设置字体大小
      color:设置字体颜色
      text-align:水平对齐方式 -->
      <h2
            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 50px; color: aqua; text-align: left;">
            This isTitle.</h2>

      <!-- background-color:设置背景 -->
      <p style="background-color: red;">这是一个新的段落<br />你看呀，多么的神奇啊。</p>
      <!-- <q>是设置引用符号 -->
      <p>WWF的目标是: <q>构建人类命运共同体。</q></p>
      
      <a href="htts://www.baidu.com">百度一下</a>
      <script>
            
      </script>
</body>

</html>