.space-search {
      margin-left: 5%;
      margin-top: 1%;
      justify-content: space-between;
}

.space-search input,
.space-search .case-select-time {
      height: 35px;
}

.space-search .ant-btn {
      height: 35px;
      width: 100px;
}

.select-btn {
      margin-left: 80%;
}

.rest-btn {
      margin-left: 110%;
}