.layout {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

.header {
      display: flex;
      align-items: center
}

.module-names {
      text-align: center;
      /* justify-content: center; */
}

.menu-items {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 8px;
}

.module-name {
      float: right;
      margin-left: auto;
      margin-right: 20px;
}

.separator::before {
      content: "-";
      margin: 0 10px;
      /* 调整间隔符号与文字之间的间距 */
}

.content {
      padding: 0 50px;
}

.breadcrumb {
      margin: 16px 0;
}

.footer {
      text-align: center;
      flex-shrink: 0;
      margin-top: auto;
}