.list-root{
      margin: 1% 5%;
}

.create-btn {
      margin-top: 1%;
      margin-left: 5%;
}

.divider-list {
      overflow: visible;
      min-width: 200px;
}

.case-tile {
      text-align: left;
}

.case-current {
      display: flex;
      justify-content: flex-end;
}

.case-tile,
.case-current {
      width: 300px;
      height: 20px;
}

.list-div {
      display: flex;
}

.list-item {
      flex: 1;
      height: 22px;
      margin-left: 5%;
}


.edit-btn,
.del-btn {
      width: 45px;
      height: 22px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.list-pagination {
      display: flex;
      justify-content: flex-end;
      margin: 1% 5%;
}
.list-item-title{
      font-weight: bold;
}