.layout-sider {
      width: 200px;
}

.layout {
      padding: 0 24px 24px;
}

.layout-breadcrumb {
      margin: 16px 0;
}

.layout-content {
      padding: 24px;
      margin: 0px;
      min-height: 280px;
}

.layout-footer {
      text-align: center;
}