.ttile {
      display: flex;
      align-items: center;
}

.title-logo {
      font-size:200%;
      color: red;
      margin-top: -1.2%;
}

.title {
      display: flex;
      align-items: center;
}

.title-name {
      color: white;
      margin-left: 20px;
}

.title-logout {
      margin-left: auto;
}

.content-info {
      display: flex;
      justify-content: flex-end;
}